<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.justorder_deliverer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DelivererAppLoaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.polito.justorder_restaurant.ProductsListActivity" />
        <activity android:name=".DelivererSettingsEditorActivity" />
        <activity android:name=".DelivererSettingsViewerActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".OrderDetails" />
        <activity android:name="it.polito.justorder_framework.common_activities.UserSettingsEditorActivity" />
        <activity android:name="it.polito.justorder_framework.common_activities.UserSettingsViewerActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>
    </application>
</manifest>
